In [ ]:
# Mount Google Drive
from google.colab import drive
drive.mount ('/content/drive')

Mounted at /content/drive

In [ ]:
string = list(input("Enter a string: "))
del string[2]
string.reverse()
result = ''.join(string)
print(result)

Enter a string: python
nohyp

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float (input ("Enter the second number:"))
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:",division)

Enter the first number: 50
Enter the second number:56
Addition: 106.0
Subtraction: -6.0
Multiplication: 2800.0
Division: 0.8928571428571429

In [ ]:
sentence = input("Enter a sentence: ")
updated_sentence = sentence. replace("python", "pythons")
print(updated_sentence)

Enter a sentence: I love playing with python
I love playing with pythons

In [ ]:
score = int(input("Enter your score: "))
if score >= 90:
 grade = "A"
elif score >= 80:
 grade = "B"
elif score >= 70:
 grade = "C"
elif score >= 60:
 grade = "D"
else:
 grade = "F"
print("Your grade is:",grade)

Enter your score: 92
Your grade is: A

In [ ]:
x = [23, 'Python', 23.98]
print(x)
types = [type(i) for i in x]
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [ ]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print("Length of Companies:", len(IT_companies))


IT_companies.add('Twitter')
print("Companies after adding 'Twitter':", IT_companies)


IT_companies.update({'TCS', 'Infosys', 'Wipro'})
print("Companies after adding multiple companies:", IT_companies)


IT_companies.remove('Oracle')
print("Companies after adding 'Oracle':", IT_companies)

IT_companies.discard('NonExistentCompany')

A_union_B = A.union(B)
print("Union of A and B:", A_union_B)


A_intersection_B = A.intersection(B)
print("Intersection of A and B:", A_intersection_B)


is_subset = A.issubset(B)
print("Is A a subset of B?", is_subset)


are_disjoint = A.isdisjoint(B)
print("Are A and B disjoint?", are_disjoint)


A.update(B)
B.update(A)
print("A after joining with B:", A)
print("B after joining with A:", B)

A_symmetric_difference_B = A.symmetric_difference(B)
print("Symmetric difference between A and B:", A_symmetric_difference_B)
del A
del B
age_set = set(age)
print("Original list length:", len(age))
print("Set length:", len(age_set))

Length of Companies: 7
Companies after adding 'Twitter': {'Twitter', 'Microsoft', 'Oracle', 'Facebook', 'Apple', 'Amazon', 'Google', 'IBM'}
Companies after adding multiple companies: {'Twitter', 'Microsoft', 'Facebook', 'Apple', 'Amazon', 'Infosys', 'TCS', 'Oracle', 'Google', 'Wipro', 'IBM'}
Companies after adding 'Oracle': {'Twitter', 'Microsoft', 'Facebook', 'Apple', 'Amazon', 'Infosys', 'TCS', 'Google', 'Wipro', 'IBM'}
Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A a subset of B? True
Are A and B disjoint? False
A after joining with B: {19, 20, 22, 24, 25, 26, 27, 28}
B after joining with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: set()
Original list length: 8
Set length: 5