In [23]:
class Counter:
    count = 0

    def __init__(self):
        self._count = 0
    def increment(self):
        self._count += 1
        Counter.count += 1

    def get_counts(self):
        return f"Instance count: {self._count}, Class count: {Counter.count}"


a = Counter()
b = Counter()
#increment
a.increment()
a.increment()
b.increment()

# Printing the counts
print(a.get_counts())  # Output for instance 'a'
print(b.get_counts())  # Output for instance 'b'

Instance count: 2, Class count: 3
Instance count: 1, Class count: 3

In [1]:
def sum_all(*args):
    return sum(args)

print("sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

sum of 1, 2, 3 is: 6
sum of 4, 5, 6, 7 is: 22

In [2]:
def first_word(words_list):
    words_list.sort()
    return words_list[0]

students = ['John', 'Maya', 'Jimmy', 'Jessie', 'Aman', 'Kumar']
print("The first_word from list after sorting is:", first_word(students))

The first_word from list after sorting is: Aman

In [12]:
class Employee:
    # Class variable to keep track of the number of employees
    employee_count = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        # Increment the employee count when a new instance is created
        Employee.employee_count += 1

    @staticmethod
    def average_salary(employees):
        if not employees:
            return 0
        total_salary = sum(emp.salary for emp in employees)
        return total_salary / len(employees)

    def __str__(self):
        return f"Employee(Name: {self.name}, Family: {self.family}, Salary: {self.salary}, Department: {self.department})"

class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department, benefits):
        super().__init__(name, family, salary, department)
        self.benefits = benefits

    def __str__(self):
        return f"FulltimeEmployee(Name: {self.name}, Family: {self.family}, Salary: {self.salary}, Department: {self.department}, Benefits: {self.benefits})"

# Creating instances of Employee and FulltimeEmployee
emp1 = Employee("Aman", "kumar", 36000, "HR")
emp2 = Employee("bOb", "man", 40000, "IT")
emp3 = FulltimeEmployee("ham", "pop", 120000, "Finance", "Health Insurance")

# List of employees to calculate average salary
employees = [emp1, emp2, emp3]

# Print details of each employee
print(emp1)
print(emp2)
print(emp3)

# Calculate and print average salary
average_salary = Employee.average_salary(employees)
print(f"Average Salary: {average_salary}")

# Print the total number of employees
print(f"Total Number of Employees: {Employee.employee_count}")

Employee(Name: Aman, Family: kumar, Salary: 36000, Department: HR)
Employee(Name: bOb, Family: man, Salary: 40000, Department: IT)
FulltimeEmployee(Name: ham, Family: pop, Salary: 120000, Department: Finance, Benefits: Health Insurance)
Average Salary: 65333.333333333336
Total Number of Employees: 3